<form class="form-container" [formGroup]="form">
    <mat-form-field>
        <textarea formControlName="inputArray" matInput placeholder="Ingrese los numeros separados por comas"></textarea>
    </mat-form-field>

    <button [disabled]="form.get('inputArray').errors" mat-raised-button color="primary" (click)="resolve()">
    Resolver
  </button>
</form>

<div class="col-md-12" style="display: flex;"></div>
<div class="col-md-12" style="display: flex;">
    <div class="col-md-8" #dibujo id="dibujo"></div>
    <div class="col-md-4">
        <table class="table" *ngIf="codeResult.length > 0">
            <thead>
                <tr>
                    <th scope="col">H(x)</th>
                    <th scope="col">N</th>
                    <th scope="col">Ñ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entropy }}</td>
                    <td>{{ nResult }}</td>
                    <td>{{ result }}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Code Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of codeResult">
                    <td>{{ item.value }}</td>
                    <td>{{ item.codeValue }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
