<form class="form-container" [formGroup]="form" autocomplete="off">
    <mat-form-field>
      <input type="text" formControlName="input" matInput placeholder="Ingrese texto a cifrar" />
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="key" matInput placeholder="Ingrese la llave de cifrado" />
    </mat-form-field>

    <mat-grid-list cols="12" rowHeight="50px">
      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <button [disabled]="form.get('input').errors || form.get('key').errors" mat-raised-button color="primary" (click)="doCrypt(false)" style="width: -webkit-fill-available">
          Encriptar
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <button [disabled]="form.get('input').errors || form.get('key').errors" mat-raised-button color="primary" (click)="doCrypt(true)" style="width: -webkit-fill-available">
          Desencriptar
        </button>
      </mat-grid-tile>
    </mat-grid-list>
</form>

<p *ngIf="result && result.length > 0">
  Resultado: {{result}}
</p>
