<header class="header mt-5 text-center">
  <h1>Sistemas De Comunicaciones</h1>
  <p style="color: #777" class="mb-1">Julian Cedeño - Julio Ávila</p>
</header>

<main>
  <!-- <mat-card class="mat-elevation-z2"> -->
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Huffman">
        <app-huffman></app-huffman>
      </mat-tab>
      <mat-tab label="Cifrado de Vigenere">
          <app-vigenere></app-vigenere>
      </mat-tab>
      <mat-tab label="Cifrado de Playfair">
        <app-playfair></app-playfair>
      </mat-tab>
    </mat-tab-group>
    <!-- <app-menu></app-menu>
        <br />
        <router-outlet></router-outlet> -->
  <!-- </mat-card> -->
</main>

<div class="footer mb-4 mt-5">
  <br /> Julian Cedeño - Julio Ávila - Sistemas De Comunicaciones
</div>
