main {
    width: 100%;
    text-align: center;
}

mat-card {
    margin: auto;
    width: 90%;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 600px;
}