<form class="form-container" [formGroup]="form" autocomplete="off">
  <mat-form-field>
    <input type="text" formControlName="input" matInput placeholder="Ingrese la clave de cifrado" />
  </mat-form-field>

  <button [disabled]="form.get('input').errors" mat-raised-button color="primary" (click)="createMatrix()">
    Ingresar llave
  </button>
</form>

<mat-grid-list *ngIf="matrix.length !== 0" cols="12" rowHeight="100px">
  <mat-grid-tile [colspan]="6" [rowspan]="4">
    <table class="table">
      <thead>
        <tr style="text-align: left;">
          <th>M</th>
          <th>A</th>
          <th>T</th>
          <th>RI</th>
          <th>Z</th>
        </tr>
      </thead>
      <tbody>
        <td *ngFor="let item of matrix; let i = index">
          <tr *ngFor="let item of matrix; let j = index">
            {{ matrix[j][i] }}
          </tr>
        </td>
      </tbody>
    </table>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <form [formGroup]="formEncrypt" class="form-container" style="width: -webkit-fill-available;" autocomplete="off">
      <mat-form-field>
        <input formControlName="input" type="text" matInput placeholder="Ingrese texto a encriptar" />
      </mat-form-field>

      <button [disabled]="formEncrypt.get('input').errors" mat-raised-button color="primary" (click)="encrypt()">
        Encriptar
      </button>
      <p>
        Result: {{resultEncrypt}}
      </p>
    </form>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <form [formGroup]="formDecrypt" class="form-container" style="width: -webkit-fill-available;" autocomplete="off">
      <mat-form-field>
        <input formControlName="input" type="text" matInput placeholder="Ingrese texto a desencriptar" />
      </mat-form-field>

      <button [disabled]="formDecrypt.get('input').errors" mat-raised-button color="primary" (click)="decrypt()">
        Desencriptar
      </button>
      <p>
        Resultado: {{resultDecrypt}}
      </p>
    </form>
  </mat-grid-tile>
</mat-grid-list>
