<mat-toolbar style="justify-content: center;">
    <a mat-button class="" tabindex="0" aria-disabled="false" href="/Huffman">
        <span class="mat-button-wrapper">Huffman</span>
    </a>
    <a mat-button class="" tabindex="0" aria-disabled="false" href="/Huffman">
        <span class="mat-button-wrapper">Cifrado de Vigenere</span>
    </a>
    <a mat-button class="" tabindex="0" aria-disabled="false" href="/Playfair">
        <span class="mat-button-wrapper">Cifrado de Playfair</span>
    </a>
</mat-toolbar>
